* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #f28b30;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    margin: 30px;
}

.sidebar nav {
    background: transparent !important;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
